* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background: #091c34;
    text-transform: capitalize;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inner {
    text-align: center;
}

.text {
    color: #fff;
    font-size: 1.6rem;
}

.clickBtn {
    background: unset;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 6px 30px;
    font-size: 1.8rem;
}

.none {
    display: none;
}

.block {
    display: block;
}

.image1 {
    width: 30%;
}

.text-2 {
    width: 70%;
}

.inner2 {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.inner2 .image {
    width: 24%;
    /* height: 300px; */
}


/* media query */

@media (max-width: 764px) {
    .innersection2 {
        flex-direction: column !important;
    }
    .image1 {
        margin: auto;
    }
    .text-2 {
        margin: auto;
        padding-top: 10px;
    }
}